$blue: #0079FF;
$gray: #697C9A;
$bluish: #4B6A9B;
$white: #fff;
$bg-dark: #141D2F;
$bg-light: #F6F8FF;
$card-dark: #1E2A47;
$text-dark: #2B3442;

:root {
    --blue: #0079FF;
    --gray: #697C9A;
    --bluish: #4B6A9B;
    --white: #fff;
    --bg-dark: #141D2F;
    --bg-light: #F6F8FF;
    --card-dark: #1E2A47;
    --text-dark: #2B3442;
}

:root[data-theme="dark"] {
    --blue: #{$blue};
    --gray: #{$white};
    --bluish: #{$white};
    --white: #{$card-dark};
    --bg-dark: #{$bg-dark};
    --bg-light: #{$bg-dark};
    --card-dark: #{$card-dark};
    --text-dark: #{$white};
}

@media (prefers-color-scheme: dark) {
    :root {
        --blue: #{$blue};
        --gray: #{$white};
        --bluish: #{$white};
        --white: #{$card-dark};
        --bg-dark: #{$bg-dark};
        --bg-light: #{$bg-dark};
        --card-dark: #{$card-dark};
        --text-dark: #{$white};
    }
}
